body{
	min-width: 	300px;
	min-height:	400px;
}

#content{
	min-width:		300px;
}

/* Related with Balloons */
.balloon{
	position:	absolute;
	left:		0px;
	top:		0px;
	z-index:	99;
}

.balloon-text{
    position: 		relative;
    top: 			0px;	/* Will be set via javascript */
    text-align:		left;
    left: 			5px;
    font-size:		56px;
    line-height:	56px;
    text-transform: uppercase;
    font-weight:	bold;
    
    color:			white;
}

.main-balloon{
}

.balloon-main-text{
	display:			inline;
	background-color:	rgba(91, 192, 222, 0.5);
	color:				white;
}

#animation_control{
	display:	block;
	background:	#33221a;
	color:		white;
	border:		1px solid gray;
	position:	absolute;
	width:		155px;
	height:		35px;
	z-index:	999;
	
	font-size:	24px;
	padding:	0px 0px 0px 5px;
}

#animation_settings{
	display:	none;
	background:	#33221a;
	color:		white;
	border:		1px solid gray;
	position:	absolute;
	width:		155px;
	height:		200px;
	z-index:	999;
	
	font-size:	12px;
	padding:	0px 5px 0px 5px;
}

table.settings-table td{
	border:		1px solid gray;
	padding:	3px;
}

/* All Growing Stuff */
.grow { 
	-webkit-transition: 	all .3s ease-in-out !important;
    -o-transition: 			all .3s ease-in-out !important;
    transition: 			all .3s ease-in-out !important;
}
.grow:hover { 
	transform: scale(1.1); 
}
/* END_OF All Growing Stuff */

/* Fold Arrow */
#fold_arrow:hover{
	color:		cyan;
}

#fold_arrow{
	position:	absolute;
	top:		0px;	/* Will be modified through js */
	left:		0px;	/* Will be modified through js */
	width:		72px;
	z-index:	999;
	font-size:	72px;
	color:		white;
}
/* END_OF Fold Arrow */

.rsvp-table>thead{
	font-weight:	bold;
}

.rsvp-radio{
	padding:	10px;
}

.rsvp-table{
	border:		1px solid blue;
	padding: 	0px;
	background:	rgba(196, 251, 157, 0.25);
}

.rsvp-table tr td{
	border:		1px solid blue;
	padding: 	8px;
}

#animation_control>i{
	cursor:		pointer;
}
/* END_OF Related with Balloons */

.action{
	cursor:	pointer;
}

.margin-left-neg-4{
	margin-left:	-4px;
}

/* Image carousel Related */
/* Override a few CSS */
.carousel .inner{
	height: 		100% !important;
}
.carousel-inner > .item > img {
  height: 		100% !important;
}
.carousel .item {
	height: 		620px !important;
	/* overflow:		hidden !important; */ /* Comment this if you don't want the image to be cropped */
}
/* END_OF Override a few CSS */

#landing-carousel{
	margin-top:		-70px;
	margin-bottom:	0px !important;
	height:			100%;
}
/* END_OF Image carousel Related */

/*
.navbar.landing-page .navbar-nav>li>a:hover{
	color:					black;
	background-color:		white;

	-webkit-transition: 	all .3s ease;
    -o-transition: 			all .3s ease;
    transition: 			all .3s ease;
}
*/

.navbar .navbar-nav>li>a:hover{
	color:					black !important;
	background-color:		white !important;

	-webkit-transition: 	all .3s ease !important;
    -o-transition: 			all .3s ease !important;
    transition: 			all .3s ease !important;
}

.navbar .navbar-nav>li>a{
	color:	white !important;
}

/*
.navbar.landing-page .navbar-nav>li>a{
	color:	white;
}
*/

.mobile-only{
	display:	none;
}

.menu{
	display: 	block;
}

.text{
	padding:	5px 0px 2px 5px;
}

.padded{
	padding:	5px 0px 2px 5px;
}

.icon-block{
	display:	block;
}

body:not(.device-touch) .social-icon i {
    -webkit-transition: 	all .3s ease;
    -o-transition: 			all .3s ease;
    transition: 			all .3s ease;
}

.float-left{
	float:		left;
}

.float-right{
	float:		right;
}

.float-none{
	float:		none;
}

.clear-both{
	clear:		both;
	height:		0px;
}

#footer.dark, .dark #footer {
    background-color: 	rgba(122, 123, 113, 1); /* #333; */
    color: 				#B6A4AF; /* #50575d; */
    border-top-color: 	rgba(0,0,0,0.2);
    height:				200px;
    padding:			10px;
}

.prashu-nav, .prashu-nav.landing-page{
	z-index: 		9999;
	position:		fixed;
	top:			0px;
	margin-left:	-16px !important;		/* To fix the padding-left(15px) of Bootstrap */
	height: 		70px;
	width:			100%;
	color:			white;
    padding-top:	10px;
}

.prashu-nav.landing-page{
	background:		rgba(0, 149, 255, 0);

    -webkit-transition: 	all 2.5s ease;
    -moz-transition: 		all 2.5s ease;
    -o-transition: 			all 2.5s ease;
    transition: 			all 2.5s ease;
}

.prashu-nav{
	background:		lightblue;	/* For browsers that do not support gradients */
	background: 	-webkit-linear-gradient(left, #0095ff, lightblue); /* For Safari 5.1 to 6.0 */
	background: 	-o-linear-gradient(right, #0095ff, lightblue); /* For Opera 11.1 to 12.0 */
	background: 	-moz-linear-gradient(right, #0095ff, lightblue); /* For Firefox 3.6 to 15 */
	background: 	linear-gradient(to right, #0095ff, lightblue); /* Standard syntax */

    -webkit-transition: 	all 2.5s ease;
    -moz-transition: 		all 2.5s ease;
    -o-transition: 			all 2.5s ease;
    transition: 			all 2.5s ease;
}

.logo{
	float:		left;
	color:		white;
	padding:	5px;
}

.logo-text{
	color:			white;
	padding-right:	15px;
	font-size: 		12px;
}

.logo-img{
	
}

/* Menu Related CSS */
.menu{
	height: 	70px;
	float:		right;
	color:		white;
}

.menu li{
	display:			block;
	float:				left;
}

.hamburger-menu>ul{
	list-style: 		none;
	list-style-type:	none;
	padding:			0px;
}

.menu li>div{
    height:				70px;
    display: 			table-cell;
    vertical-align: 	bottom;
	
	padding-bottom:		15px;
	padding-right:		25px;
	padding-left:		10px;
	color:				white;
	
	font-weight: 		bold;
	font-size:			12px;
	font-family: 		'Corben';
	letter-spacing:		2px;
	
	text-transform: 	uppercase;
}

.menu a{
	color: 				white;
	text-decoration: 	none;
}

.menu a:hover{
	transition: 		color 2s ease;
	color: 				#b79633;
	text-decoration: 	none;
}
/* END_OF Menu Related CSS */

/* Images & Thumbnails */
.thumbnail-large{
	width:		350px;
	height:		400px;
	border:		1px solid gray;
}
.thumbnail-medium{
	width:		250px;
	height:		300px;
	border:		1px solid gray;
}
.thumbnail-small{
	width:		150px;
	height:		200px;
	border:		1px solid gray;
}
.thumbnail-tiny-square{
	width:		64px;;
	height:		64px;
	border:		1px solid gray;
}
/* END_OF Images & Thumbnails */

.vcenter{
	position: 			relative;
	top: 				50%;
	-webkit-transform: 	translate(0px, -50%);
	-moz-transform: 	translate(0px, -50%);
}

.hcenter{
	margin-left:	auto;
	margin-right:	auto;
	display:		block;
}

#copyright{
	color:				#B6A4AF; /* #50575d; */
	/* font-size:			14px; */
	font-family: 		Raleway, sans-serif;
}

#copyright a{
	color:				#B6A4AF; /* #50575d; */
	/* font-size:			14px; */
	font-family: 		Raleway, sans-serif;
}

#copyright a:hover{
	transition: 		color 2s ease;
	color: 				#b79633;
	text-decoration: 	none;
}

/* Lists */
.list-simple{
	list-style: none;
}
/* END_OF Lists */

/* Tables */
.table1 tr td{
	padding:	5px;
}
.table2 tr td{
	padding:	5px 20px 5px 5px;
	border:		1px solid gray;
}
/* END_OF Tables */

/* Hamburger Menu */
.hamburger{
  background:none;
  position:absolute;
  top:0;
  right:0;
  line-height:45px;
  padding:5px 15px 0px 15px;
  color:#fff;
  border:0;
  font-size:1.4em;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}
.cross{
  background:none;
  position:absolute;
  top:0px;
  right:0;
  padding:13px 15px 0px 15px;
  color:#fff;
  border:0;
  font-size:3em;
  line-height:65px;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}
/*
.menu{z-index:1000000; font-weight:bold; font-size:0.8em; width:100%; background:#131313;  position:absolute; text-align:center;}
.menu ul {margin: 0; padding: 0; list-style-type: none; list-style-image: none;}
.menu li {display: block;   padding:15px 0 15px 0; border-bottom:#1d1f20 1px solid;}
.menu li:hover{display: block;    background:#181818; padding:15px 0 15px 0; border-bottom:#1d1f20 1px solid;}
.menu ul li a { text-decoration:none;  margin: 0px; color:#fff;}
.menu ul li a:hover {  color: #fff; text-decoration:none;}
.menu a{text-decoration:none; color:white;}
.menu a:hover{text-decoration:none; color:white;}
*/
.glyphicon-home{
  color:white; 
  font-size:1.5em; 
  margin-top:5px; 
  margin:0 auto;
}
/* END_OF Hamburger Menu */

/* Social Icons */
.social-icon{
    margin: 		0 5px 5px 0;
    width: 			38px !important;
    height: 		38px !important;
    font-size: 		20px;
    line-height: 	30px !important;
    color: 			#555;
    text-shadow: 	none;
    border: 		1px solid #AAA;
    border-radius: 	3px;
    overflow: 		hidden;
    
    display:		block;
    float:			left;
    padding:		5px;
    text-align: 	center;
    
    cursor:			pointer;
}

.social-icon:hover i:first-child{
	margin-top: 	-33px;
}

.si-facebook:hover,
.si-colored.si-facebook { background-color: #3B5998 !important; }
.si-delicious:hover,
.si-colored.si-delicious { background-color: #205CC0 !important; }
.si-paypal:hover,
.si-colored.si-paypal { background-color: #00588B !important; }
.si-flattr:hover,
.si-colored.si-flattr { background-color: #F67C1A !important; }
.si-android:hover,
.si-colored.si-android { background-color: #A4C639 !important; }
.si-smashmag:hover,
.si-colored.si-smashmag { background-color: #E53B2C !important; }
.si-gplus:hover,
.si-colored.si-gplus { background-color: #DD4B39 !important; }
.si-wikipedia:hover,
.si-colored.si-wikipedia { background-color: #333 !important; }
.si-stumbleupon:hover,
.si-colored.si-stumbleupon { background-color: #F74425 !important; }
.si-foursquare:hover,
.si-colored.si-foursquare { background-color: #25A0CA !important; }
.si-call:hover,
.si-colored.si-call { background-color: #444 !important; }
.si-ninetyninedesigns:hover,
.si-colored.si-ninetyninedesigns { background-color: #F26739 !important; }
.si-forrst:hover,
.si-colored.si-forrst { background-color: #5B9A68 !important; }
.si-digg:hover,
.si-colored.si-digg { background-color: #191919 !important; }
.si-spotify:hover,
.si-colored.si-spotify { background-color: #81B71A !important; }
.si-reddit:hover,
.si-colored.si-reddit { background-color: #C6C6C6 !important; }
.si-blogger:hover,
.si-colored.si-blogger { background-color: #FC4F08 !important; }
.si-cc:hover,
.si-colored.si-cc { background-color: #688527 !important; }
.si-dribbble:hover,
.si-colored.si-dribbble { background-color: #EA4C89 !important; }
.si-evernote:hover,
.si-colored.si-evernote { background-color: #5BA525 !important; }
.si-flickr:hover,
.si-colored.si-flickr { background-color: #FF0084 !important; }
.si-google:hover,
.si-colored.si-google { background-color: #DD4B39 !important; }
.si-instapaper:hover,
.si-colored.si-instapaper { background-color: #333 !important; }
.si-klout:hover,
.si-colored.si-klout { background-color: #FF5F52 !important; }
.si-linkedin:hover,
.si-colored.si-linkedin { background-color: #0E76A8 !important; }
.si-vk:hover,
.si-colored.si-vk { background-color: #2B587A !important; }
.si-rss:hover,
.si-colored.si-rss { background-color: #EE802F !important; }
.si-skype:hover,
.si-colored.si-skype { background-color: #00AFF0 !important; }
.si-twitter:hover,
.si-colored.si-twitter { background-color: #00ACEE !important; }
.si-youtube:hover,
.si-colored.si-youtube { background-color: #C4302B !important; }
.si-vimeo:hover,
.si-colored.si-vimeo { background-color: #86C9EF !important; }
.si-aim:hover,
.si-colored.si-aim { background-color: #FCD20B !important; }
.si-yahoo:hover,
.si-colored.si-yahoo { background-color: #720E9E !important; }
.si-email3:hover,
.si-colored.si-email3 { background-color: #6567A5 !important; }
.si-macstore:hover,
.si-colored.si-macstore { background-color: #333333 !important; }
.si-myspace:hover,
.si-colored.si-myspace { background-color: #666666 !important; }
.si-podcast:hover,
.si-colored.si-podcast { background-color: #E4B21B !important; }
.si-cloudapp:hover,
.si-colored.si-cloudapp { background-color: #525557 !important; }
.si-dropbox:hover,
.si-colored.si-dropbox { background-color: #3D9AE8 !important; }
.si-ebay:hover,
.si-colored.si-ebay { background-color: #89C507 !important; }
.si-github:hover,
.si-colored.si-github { background-color: #171515 !important; }
.si-googleplay:hover,
.si-colored.si-googleplay { background-color: #DD4B39 !important; }
.si-itunes:hover,
.si-colored.si-itunes { background-color: #222 !important; }
.si-plurk:hover,
.si-colored.si-plurk { background-color: #CF5A00 !important; }
.si-pinboard:hover,
.si-colored.si-pinboard { background-color: #0000E6 !important; }
.si-soundcloud:hover,
.si-colored.si-soundcloud { background-color: #FF7700 !important; }
.si-tumblr:hover,
.si-colored.si-tumblr { background-color: #34526F !important; }
.si-wordpress:hover,
.si-colored.si-wordpress { background-color: #1E8CBE !important; }
.si-yelp:hover,
.si-colored.si-yelp { background-color: #C41200 !important; }
.si-intensedebate:hover,
.si-colored.si-intensedebate { background-color: #009EE4 !important; }
.si-eventbrite:hover,
.si-colored.si-eventbrite { background-color: #F16924 !important; }
.si-scribd:hover,
.si-colored.si-scribd { background-color: #666666 !important; }
.si-stripe:hover,
.si-colored.si-stripe { background-color: #008CDD !important; }
.si-print:hover,
.si-colored.si-print { background-color: #111 !important; }
.si-dwolla:hover,
.si-colored.si-dwolla { background-color: #FF5C03 !important; }
.si-statusnet:hover,
.si-colored.si-statusnet { background-color: #131A30 !important; }
.si-acrobat:hover,
.si-colored.si-acrobat { background-color: #D3222A !important; }
.si-drupal:hover,
.si-colored.si-drupal { background-color: #27537A !important; }
.si-buffer:hover,
.si-colored.si-buffer { background-color: #333333 !important; }
.si-pocket:hover,
.si-colored.si-pocket { background-color: #EE4056 !important; }
.si-bitbucket:hover,
.si-colored.si-bitbucket { background-color: #0E4984 !important; }
.si-stackoverflow:hover,
.si-colored.si-stackoverflow { background-color: #EF8236 !important; }
.si-hackernews:hover,
.si-colored.si-hackernews { background-color: #FF6600 !important; }
.si-xing:hover,
.si-colored.si-xing { background-color: #126567 !important; }
.si-instagram:hover,
.si-colored.si-instagram { background-color: #3F729B !important; }
.si-quora:hover,
.si-colored.si-quora { background-color: #A82400 !important; }
.si-openid:hover,
.si-colored.si-openid { background-color: #E16309 !important; }
.si-steam:hover,
.si-colored.si-steam { background-color: #111 !important; }
.si-amazon:hover,
.si-colored.si-amazon { background-color: #E47911 !important; }
.si-disqus:hover,
.si-colored.si-disqus { background-color: #E4E7EE !important; }
.si-plancast:hover,
.si-colored.si-plancast { background-color: #222 !important; }
.si-appstore:hover,
.si-colored.si-appstore { background-color: #000 !important; }
.si-pinterest:hover,
.si-colored.si-pinterest { background-color: #C8232C !important; }
.si-fivehundredpx:hover,
.si-colored.si-fivehundredpx { background-color: #111 !important; }


/* Social Icons Text Color
-----------------------------------------------------------------*/

.si-text-color.si-facebook i { color: #3B5998; }
.si-text-color.si-delicious i { color: #205CC0; }
.si-text-color.si-paypal i { color: #00588B; }
.si-text-color.si-flattr i { color: #F67C1A; }
.si-text-color.si-android i { color: #A4C639; }
.si-text-color.si-smashmag i { color: #E53B2C; }
.si-text-color.si-gplus i { color: #DD4B39; }
.si-text-color.si-wikipedia i { color: #333; }
.si-text-color.si-stumbleupon i { color: #F74425; }
.si-text-color.si-foursquare i { color: #25A0CA; }
.si-text-color.si-call i { color: #444; }
.si-text-color.si-ninetyninedesigns i { color: #F26739; }
.si-text-color.si-forrst i { color: #5B9A68; }
.si-text-color.si-digg i { color: #191919; }
.si-text-color.si-spotify i { color: #81B71A; }
.si-text-color.si-reddit i { color: #C6C6C6; }
.si-text-color.si-blogger i { color: #FC4F08; }
.si-text-color.si-cc i { color: #688527; }
.si-text-color.si-dribbble i { color: #EA4C89; }
.si-text-color.si-evernote i { color: #5BA525; }
.si-text-color.si-flickr i { color: #FF0084; }
.si-text-color.si-google i { color: #DD4B39; }
.si-text-color.si-instapaper i { color: #333; }
.si-text-color.si-klout i { color: #FF5F52; }
.si-text-color.si-linkedin i { color: #0E76A8; }
.si-text-color.si-vk i { color: #2B587A; }
.si-text-color.si-rss i { color: #EE802F; }
.si-text-color.si-skype i { color: #00AFF0; }
.si-text-color.si-twitter i { color: #00ACEE; }
.si-text-color.si-youtube i { color: #C4302B; }
.si-text-color.si-vimeo i { color: #86C9EF; }
.si-text-color.si-aim i { color: #FCD20B; }
.si-text-color.si-yahoo i { color: #720E9E; }
.si-text-color.si-email3 i { color: #6567A5; }
.si-text-color.si-macstore i { color: #333333; }
.si-text-color.si-myspace i { color: #666666; }
.si-text-color.si-podcast i { color: #E4B21B; }
.si-text-color.si-cloudapp i { color: #525557; }
.si-text-color.si-dropbox i { color: #3D9AE8; }
.si-text-color.si-ebay i { color: #89C507; }
.si-text-color.si-github i { color: #171515; }
.si-text-color.si-googleplay i { color: #DD4B39; }
.si-text-color.si-itunes i { color: #222; }
.si-text-color.si-plurk i { color: #CF5A00; }
.si-text-color.si-pinboard i { color: #0000E6; }
.si-text-color.si-soundcloud i { color: #FF7700; }
.si-text-color.si-tumblr i { color: #34526F; }
.si-text-color.si-wordpress i { color: #1E8CBE; }
.si-text-color.si-yelp i { color: #C41200; }
.si-text-color.si-intensedebate i { color: #009EE4; }
.si-text-color.si-eventbrite i { color: #F16924; }
.si-text-color.si-scribd i { color: #666666; }
.si-text-color.si-stripe i { color: #008CDD; }
.si-text-color.si-print i { color: #111; }
.si-text-color.si-dwolla i { color: #FF5C03; }
.si-text-color.si-statusnet i { color: #131A30; }
.si-text-color.si-acrobat i { color: #D3222A; }
.si-text-color.si-drupal i { color: #27537A; }
.si-text-color.si-buffer i { color: #333333; }
.si-text-color.si-pocket i { color: #EE4056; }
.si-text-color.si-bitbucket i { color: #0E4984; }
.si-text-color.si-stackoverflow i { color: #EF8236; }
.si-text-color.si-hackernews i { color: #FF6600; }
.si-text-color.si-xing i { color: #126567; }
.si-text-color.si-instagram i { color: #3F729B; }
.si-text-color.si-quora i { color: #A82400; }
.si-text-color.si-openid i { color: #E16309; }
.si-text-color.si-steam i { color: #111; }
.si-text-color.si-amazon i { color: #E47911; }
.si-text-color.si-disqus i { color: #E4E7EE; }
.si-text-color.si-plancast i { color: #222; }
.si-text-color.si-appstore i { color: #000; }
.si-text-color.si-pinterest i { color: #C8232C; }
.si-text-color.si-fivehundredpx i { color: #111; }

.si-text-color:hover { color: #FFF; }
/* END_OF Social Icons */
