/* Extra small devices Phones (<768px) */
@media (max-width: 768px) {

.logo-img{
	content: url('/images/prashu-logo-3-xs.png');
}

.menu li{
	display:		block;
	float:			none;
	background:		#337ab7;
	color:			white;
	line-height:	10px;
}

.mobile-only{
	display:	block;
}

.logo-text1{
	display:	block;
	font-size:	12px;
}

.prashu-nav>.navbar-collapse{
	background:		lightblue;
}

.rsvp-radio{
	padding:	0px;
	display:	block;
}

/*
.rsvp-table{
	border-collapse: 	separate;
	border-spacing:		0px 15px;
}
*/

/* Related with Balloons */
.main-balloon{
	display:			none;
}
/* END_OF Related with Balloons */

}
